{{- if .Values.phpmyadmin.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hsr.name" . }}-phpmyadmin
spec:
  replicas: {{ int .Values.phpmyadmin.replicas }}
  selector:
    matchLabels:
      app: {{ include "hsr.name" . }}-phpmyadmin
  template:
    metadata:
      labels:
        app: {{ include "hsr.name" . }}-phpmyadmin
    spec:
      {{- if .Values.phpmyadmin.allowControlPlane }}
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: phpmyadmin
          image: {{ printf "phpmyadmin:%s" (default "latest" .Values.phpmyadmin.version) }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          ports:
            - containerPort: 80
          env:
            - name: PMA_ABSOLUTE_URI
              value: 
                {{ $rawPath := default "/phpmyadmin" .Values.phpmyadmin.path -}}
                {{- $normPath := ternary $rawPath (printf "/%s" $rawPath) (hasPrefix "/" $rawPath) -}}
                {{- printf "http://%s%s" .Values.hostname $normPath | quote }}
          envFrom:
            - secretRef:
                name: {{ include "hsr.name" . }}-phpmyadmin
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
{{- end }}