{{- if .Values.phpmyadmin.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hsr.name" . }}-phpmyadmin
spec:
  selector:
    app: {{ include "hsr.name" . }}-phpmyadmin
  ports:
    - protocol: TCP
      port: {{ int (default 8080 .Values.phpmyadmin.port) }}
      targetPort: 80
{{- end }}