apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "hsr.name" . }}-ingress
  annotations:
    nginx.org/rewrite-target: /$2
spec:
  ingressClassName: {{ .Values.ingressClassName }}
  rules:
    - host: {{ .Values.hostname | quote }}
      http:
        paths:
          # - path: {{ default "/" .Values.next.path | quote }}
          #   pathType: Prefix
          #   backend:
          #     service:
          #       name: {{ include "hsr.name" . }}-next
          #       port:
          #         number: {{ int (default 3000 .Values.next.port) }}
          {{- if .Values.phpmyadmin.enabled }}
          - path: {{ printf "%s(/|$)(.*)" (default "/phpmyadmin" .Values.phpmyadmin.path) | quote }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "hsr.name" . }}-phpmyadmin
                port:
                  number: {{ int (default 8080 .Values.phpmyadmin.port) }}
          {{- end }}
          {{- if .Values.mailhog.enabled }}
          - path: {{ printf "%s(/|$)(.*)" (default "/mailhog" .Values.mailhog.path) | quote }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "hsr.name" . }}-mailhog
                port:
                  number: {{ int (default 8025 .Values.mailhog.port) }}
          {{- end }}