{{- if .Values.mailhog.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hsr.name" . }}-mailhog
spec:
  replicas: {{ int .Values.mailhog.replicas }}
  selector:
    matchLabels:
      app: {{ include "hsr.name" . }}-mailhog
  template:
    metadata:
      labels:
        app: {{ include "hsr.name" . }}-mailhog
    spec:
      {{- if .Values.mailhog.allowControlPlane }}
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: mailhog
          image: {{ printf "mailhog/mailhog:%s" (default "latest" .Values.mailhog.version) }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          ports:
            - containerPort: 1025
              name: smtp
            - containerPort: 8025
              name: web
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

{{- end }}