{{- if .Values.mailhog.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "hsr.name" . }}-mailhog-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: {{ .Values.ingressClassName }}
  rules:
    - host: {{ .Values.hostname | quote }}
      http:
        paths:
          - path: {{ default "/mailhog" (.Values.mailhog.path | quote) }}
            pathType: Prefix
            backend:
              service:
                name: {{ include "hsr.name" . }}-mailhog
                port:
                  number: {{ int (default 8025 .Values.mailhog.port) }}
{{- end }}