apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hsr.name" . }}-next
  labels:
    app.kubernetes.io/name: {{ include "hsr.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  SERVER_FETCH_BASE_URL: {{ ternary (printf "http://%s" .Values.hostname) (printf "http://127.0.0.1:%s" (.Values.next.port | toString)) .Values.publiclyAccessible | quote }}
  ASSET_PREFIX: {{ printf "http://%s" .Values.hostname | quote }}
  SMTP_HOST: {{ include "hsr.smtpHost" . | quote }}
  SMTP_PORT: {{ .Values.mailhog.smtpPort | quote }}