---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hsr.name" . }}-next
spec:
  replicas: {{ int .Values.next.replicas }}
  selector:
    matchLabels:
      app: {{ include "hsr.name" . }}-next
  template:
    metadata:
      labels:
        app: {{ include "hsr.name" . }}-next
    spec:
      {{- if .Values.next.allowControlPlane }}
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: next
          image: {{ printf "heftychonk/next:%s" .Values.next.version }}
          {{- if .Values.next.forcePullImage }}
          imagePullPolicy: Always
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: {{ include "hsr.name" . }}-next
            - secretRef:
                name: {{ include "hsr.name" . }}-next
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
